// Import a beautiful font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

// Variables
$primary: #007bff;
$bg: #121212; // Soft black background
$font: "Raleway", sans-serif; // Using the Raleway font

// Base Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.main_container {
  background: linear-gradient(
    to right,
    #121212,
    #1a1a1a
  ); // Subtle gradient background
  padding:15px ;
  min-height: 95vh;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  hr {
    width: 90%;
    margin: 15px auto;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .left_part,
  .right_part {
    background: rgba(132, 132, 132, 0.1); // Semi-transparent white background
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 
    transition: all 0.3s ease-in-out; // Smooth transition for hover effects
  }

  .left_part {
    padding: 15px 8px;
    height: auto;
    width: 25%;

    
  }

  .right_part {
    width: 75%;
    height: auto;
    overflow-y: scroll;
    position: relative;
  
    /* Hide scrollbar for all browsers */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
  
    /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  

}
